.advantage{
   
    background-color: #fff;;
    min-height: 800px;
    position: relative;
}
.advantage__row{
    display: flex;
    margin-top: 40px;
}
.number__icon img{
    margin-left: 100px;
    width: 40px;
    @media (max-width: 1000px){
        margin-left: 20px;
        width: 20px;
    } 
    
}
.row_icon{
    display: flex;
    justify-content: left;
    width: 90%;
    height: 40px;
}
.number__icon{
    margin-top: 16px;
    margin-bottom: 102px;
    @media (max-width: 1000px){
        margin-top: 36px;
        margin-bottom: 172px;
    } 
}
.advantage__img img{
    width: 374px;
    height: 422px;
    border-radius:8px;
    @media (max-width: 1000px){
        display: none;
    } 
}
.advantage__img{ 
    position: absolute;
    right: 0;;
    top: 170px;
    float: right;
    opacity: .8;

}
.advantage__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    color: #544E4E;
    margin: 0 auto;
    margin-top: 22px;
    margin-left: 20px;
    width: 100%;
    height: 30px;
    @media (max-width: 1000px){
        font-size: 13px;
        margin-top: 32px;
    } 
}
.advantage__cause-text{
    width: 40%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 133.69%;
    letter-spacing: 0.03em;
    color: #605656;
    margin-top: 35px;
    margin-left: 100px;
    @media (max-width: 1000px){
        margin: 0 auto;
        margin-top: 60px;
        width: 100%;
    } 
}
.advantage__text{
    margin-top: 30px;
    margin-left: 28px;
}
.advantage__text-col{
      min-width: 40%;
      @media (max-width: 1000px){
        min-width: 100%;
        margin-bottom: 60px;
    } 
}

.advantage__logo-text{
    position: absolute;
    max-width: 1366px;
    height: 30px;
    bottom: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 246px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.157); 
    z-index: 3;

    @media (max-width: 1260px){
        font-size: 216px;
        bottom: 1px;
    }   
    @media (max-width: 1160px){
        font-size: 190px;
        bottom: 1px;
    }   
    @media (max-width: 1060px){
        font-size: 160px;
        bottom: 1px;
    }   
    @media (max-width:960px){
        font-size: 130px;
        bottom: 1px;
    }   
    @media (max-width:660px){
        align-items:center;
        font-size: 65px;
        bottom: 1px;
    }   
}