<footer>
<div class="cont">
    <div class="footer_col">
        <div class="footer_contact">
            <h2>Контакты</h2>
            <p>Информация для потребителей</p>
            <p>Сотрудничество и дизайн интерьера</p>
            <p>Рекомендации по уходу и чистке</p>
            <p>Обработка данных </p>
            <p>Карта сайта</p>
        </div>
        <div class="footer_info">
            <h2>Информация</h2>
            <p>Услуга выезда менеджера</p>
            <p>Гарантия и возврат</p>
            <p>Условия доставки</p>
            <p>Материалы обивки</p>
            <p>Механизмы диванов</p>
        </div>
        <div class="footer_collection">
            <h2>Коллекции</h2>
            <div class="row_collection_1">
                <img src="assets/img/collection/col1.jpg" alt="">
                <img src="assets/img/collection/col2.png" alt="">
                <img src="assets/img/collection/col3.jpg" alt="">
            </div>
            <div class="row_collection_2">
                <img src="assets/img/collection/col4.jpg" alt="">
                <img src="assets/img/collection/col5.png" alt="">
                <img src="assets/img/collection/col6.png" alt="">
            </div>
        </div>
    </div>
</div>
</footer>