<section class="advantage">
<div class="cont">
    <div class="about__title">
        <div class="number">02.</div>
        <div class="about__title-text ">Три причины, по которым вам стоит<br> 
            купить мебель в <span class="">M DESIGN</span>
        </div>
    </div> <!-- class="about_title -->
    <div class="advantage__row">
        <div class="number__icon-col">
           
      
           
        </div> <!-- class="number__icon_col -->

        <div class="advantage__text-col">
            <div class="advantage__text">
                <div class="row_icon">    
                <div class="number__icon"><img src="assets/img/icons/icon_1.png" alt=""></div>
                <div class="advantage__title">Собственное производство</div>
             
                </div> <!-- class="row_icon -->

                <div class="advantage__cause-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas egestas auctor elit condimentum ut nulla magna euismod pellentesque. Nulla ultricies tellus volutpat.</div>
            </div><!--  advantage__text -->

            <div class="advantage__text">
                <div class="row_icon">
                <div class="number__icon"><img src="assets/img/icons/icon_2.png" alt=""></div>
                <div class="advantage__title">Конструкторско-технический отдел</div>      
                
                </div> <!-- class="row_icon -->

                <div class="advantage__cause-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas egestas auctor elit condimentum ut nulla magna euismod pellentesque. Nulla ultricies tellus volutpat.</div>
            </div><!--  advantage__text -->

            <div class="advantage__text">
                <div class="row_icon">   
                <div class="number__icon"><img src="assets/img/icons/icon_3.png" alt=""></div>
                <div class="advantage__title">Сотрудничество с дизайнерами и архитекторами</div>
             
            </div> <!-- class="row_icon -->

                <div class="advantage__cause-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas egestas auctor elit condimentum ut nulla magna euismod pellentesque. Nulla ultricies tellus volutpat.</div>
            </div><!--  advantage__text -->
        </div> <!-- class="advantage__text-col -->

        <div class="advantage__img">
            <img src="assets/img/livingroom.jpg" alt="">
        </div>
        <div class="advantage__logo-text">M DESIGN</div>
    </div> <!-- class="advantage__row" -->






</div>
</section>