<section class="news">
<div class="cont">
    <div class="about__title">
        <div class="number">03.</div>
        <div class="about__title-text ">Новый ассортимент мебели <br>
            в <span class="">M DESIGN</span>
        </div>
    </div> <!-- class="about_title -->

    <div class="news_menu">
         
                <input type="radio" name="inset" value="" id="tab_1" checked>
                <label for="tab_1">Диваны</label>
            
                <input type="radio" name="inset" value="" id="tab_2">
                <label for="tab_2">Кровати</label>
            
                <input type="radio" name="inset" value="" id="tab_3">
                <label for="tab_3">столы</label>
            
                <input type="radio" name="inset" value="" id="tab_4">
                <label for="tab_4">стулья</label>

       
            <div class="line__black"></div>

            <div id="txt_1" class="txt">
            <div class="owl-carousel col-owl owl-theme slide-one" >
                <div class="owl__1">
                    <div class="row_owl">
                        <div class="item__name">Диван Borneo </div>
                        <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">66 300<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>
                <div class="owl__2">
                    <div class="row_owl">
                        <div class="item__name">Диван Riora </div>
                        <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">34 600<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>
                <div class="owl__3">
                    <div class="row_owl">
                        <div class="item__name">Диван Sicilia </div>
                        <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">53 000<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>
                <div class="owl__2">
                    <div class="row_owl">
                        <div class="item__name">Диван Riora </div>
                        <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">34 600<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>           
            </div> <!-- class="owl-carousel" -->
            </div>
            <div id="txt_2" class="txt">
            <div class="owl-carousel col-owl owl-theme slide-one">
                <div class="owl__bed1">
                    <div class="row_owl">
                        <div class="item__name">Кровать Borneo </div>
                        <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">66 300<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>
                <div class="owl__bed2">
                    <div class="row_owl">
                        <div class="item__name">Кровать Riora </div>
                        <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">34 600<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>
                <div class="owl__bed3">
                    <div class="row_owl">
                        <div class="item__name">Кровать Sicilia </div>
                        <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">53 000<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>
                <div class="owl__bed4">
                    <div class="row_owl">
                        <div class="item__name">Кровать Rita </div>
                        <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">34 600<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>           
            </div> <!-- class="owl-carousel" -->
            </div>

            <div id="txt_4" class="txt">
                <div class="owl-carousel col-owl owl-theme slide-one">
                    <div class="owl__chair1" style=" width: 100%;
                    height: 220px; background:url('assets/img/collection/chair1.png') center center/ contain no-repeat ;">
                        <div class="row_owl">
                            <div class="item__name">Кровать Borneo </div>
                            <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                        </div>  <!-- class="row_owl -->
                        <div class="price">66 300<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                        <div class="more">Подробнее ></div>
                    </div>
                    <div class="owl__chair2" style=" width: 100%;
                    height: 220px; background:url('assets/img/collection/chair2.png') center center/ contain no-repeat ;">
                        <div class="row_owl">
                            <div class="item__name">Кровать Riora </div>
                            <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                        </div>  <!-- class="row_owl -->
                        <div class="price">34 600<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                        <div class="more" style="color:rgba(240, 248, 255, 0.671);">Подробнее ></div>
                    </div>
                    <div class="owl__chair3" style=" width: 100%;
                    height: 220px; background:url('assets/img/collection/chair3.png') center center/ contain no-repeat ;">
                        <div class="row_owl">
                            <div class="item__name">Кровать Sicilia </div>
                            <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                        </div>  <!-- class="row_owl -->
                        <div class="price">53 000<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                        <div class="more">Подробнее ></div>
                    </div>
                    <div class="owl__chair4" style=" width: 100%;
                    height: 220px; background:url('assets/img/collection/chair4.png') center center/ contain no-repeat ;">
                        <div class="row_owl">
                            <div class="item__name">Кровать Rita </div>
                            <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                        </div>  <!-- class="row_owl -->
                        <div class="price">34 600<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                        <div class="more">Подробнее ></div>
                    </div>           
                </div> <!-- class="owl-carousel" -->
                </div>

            <div id="txt_3" class="txt">
                <div class="owl-carousel col-owl owl-theme slide-one">
                    <div class="owl__table1" style=" width: 100%;
                    height: 220px; background:url('assets/img/collection/table1.png') center center/ contain no-repeat ;">
                        <div class="row_owl">
                            <div class="item__name">Кровать Borneo </div>
                            <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                        </div>  <!-- class="row_owl -->
                        <div class="price">66 300<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                        <div class="more">Подробнее ></div>
                    </div>
                    <div class="owl__chair2" style=" width: 100%;
                    height: 220px; background:url('assets/img/collection/table2.png') center center/ contain no-repeat ;">
                        <div class="row_owl">
                            <div class="item__name">Кровать Riora </div>
                            <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                        </div>  <!-- class="row_owl -->
                        <div class="price">34 600<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                        <div class="more" >Подробнее ></div>
                    </div>
                    <div class="owl__chair3" style=" width: 100%;
                    height: 220px; background:url('assets/img/collection/table3.png') center center/ contain no-repeat ;">
                        <div class="row_owl">
                            <div class="item__name">Кровать Sicilia </div>
                            <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                        </div>  <!-- class="row_owl -->
                        <div class="price">53 000<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                        <div class="more">Подробнее ></div>
                    </div>
                    <div class="owl__chair4" style=" width: 100%;
                    height: 220px; background:url('assets/img/collection/table4.png') center center/ contain no-repeat ;">
                        <div class="row_owl">
                            <div class="item__name">Кровать Rita </div>
                            <div class="img_plus"><img src="assets/img/owl-carousel/plus-circle.png" alt=""></div>
                        </div>  <!-- class="row_owl -->
                        <div class="price">34 600<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                        <div class="more">Подробнее ></div>
                    </div>           
                </div> <!-- class="owl-carousel" -->
                </div>
        </div>    <!-- class="news_menu"      -->
</div>
</section>