<section class="about">   
<div class="cont ">
<div class="about__title">
<div class="number">01.</div>
<div class="about__title-text "><span class="">M DESIGN</span> самостоятельно проектирует<br>
    и производит мебель</div>
</div> <!-- class="about_title -->
<div class="about__text">Для нас мебель – объект изучения и творческих экспериментов. Конструкторское бюро находится в непрерывном поиске новых, нестандартных дизайнерских идей и разработок, что способствует появлению уникального ассортимента.
    Наша цель – сделать интернет-магазин удобным. Купить мебель в нестандартной обивке или рассчитать стоимость гарнитура в нестандартную планировку – простой и понятный конструктор на сайте учтет все требования.
 </div>
           <div class="row__card  ">
                <div class="  card__item  ">
                    <div class="numb ">5 000</div>
                    <div class="numb_title S">производственных площадей</div>
                </div>
                <div class="  card__item">
                    <div class="numb ">150</div>
                    <div class="numb_title ">сотрудников</div>
                </div>
                <div class="card__item">
                    <div class="numb ">10 000 <span>ед.</span></div>
                    <div class="numb_title ">продукции в месяц</div>
                </div>
           </div>

           <div class="row__card  row__card-2  ">
            <div class=" card__item  ">
                <div class="numb ">60</div>
                <div class="numb_title ">коллекций мякгой мебели</div>
            </div>
            <div class="card__item">
                <div class="numb ">20</div>
                <div class="numb_title ">коллекций корпусной мебели</div>
            </div>
            <div class=" card__item   ">
                <div class="numb ">20 000 <span>ед.</span></div>
                <div class="numb_title ">единиц товара</div>
            </div>
       </div>  <!-- row__card  -->

    <div class="about__img"><img src="assets/img/flowerpots.jpg" alt=""></div>
</div> <!-- class="cont" -->           