<section class="news">
<div class="cont">
    <div class="about__title">
        <div class="number">03.</div>
        <div class="about__title-text ">Новый ассортимент мебели <br>
            в <span class="">M DESIGN</span>
        </div>
    </div> <!-- class="about_title -->

    <div class="news_menu">
            <ul>
                <li>диваны</li>
                <li>кровати</li>
                <li>столы</li>
                <li>стулья</li>
                <li>кресла</li>
                <li>акссесуары</li>
            </ul>
            <div class="line__black"></div>
    </div>
<div class="wrapper">
        <div class="owl-carousel col-owl">
                <div class="owl__1">
                    <div class="row_owl">
                        <div class="item__name">Диван Borneo </div>
                        <div class="img_plus"><img src="/assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">66 300<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>
                <div class="owl__1">
                    <div class="row_owl">
                        <div class="item__name">Диван Riora </div>
                        <div class="img_plus"><img src="/assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">34 600<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>
                <div class="owl__1">
                    <div class="row_owl">
                        <div class="item__name">Диван Sicilia </div>
                        <div class="img_plus"><img src="/assets/img/owl-carousel/plus-circle.png" alt=""></div>
                    </div>  <!-- class="row_owl -->
                    <div class="price">53 000<span class="iconify" data-inline="false" data-icon="fa-solid:ruble-sign" ></span> </div>
                    <div class="more">Подробнее ></div>
                </div>
        </div> <!-- class="owl-carousel" -->
</div></div>
</section>