<section class="projects">
<div class="cont">
    <div class="about__title">
        <div class="number">04.</div>
        <div class="about__title-text ">Реализованые проекты клиентов<br> 
            с мебелью от <span class="">M DESIGN</span>
        </div>
    </div> <!-- class="about_title -->
<div class="wrapp">
   <span class="iconify prev" data-inline="false" data-icon="dashicons:arrow-left-alt2" style="color: #e33c3c; font-size: 50px;"></span>
    <div class="owl-carousel slide-two  owl-theme">
        <div class="slide-two_item">
            <div class="slide-two__img"><img src="assets/img/owl-carousel/lounge-1.jpg" alt=""></div>
            <div class="slide-two__text">
                <h2>Образ интерьера студии<br> Scott VS Jones</h2>
                <div class="dsr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus aliquam convallis tincidunt dignissim lacus quis bibendum ac. Ac ut bibendum enim sem. Ut cursus in amet lobortis in. Neque, cras lacus nec tristique risus feugiat et ut mi. Quis diam non commodo, quam nunc. Vitae pulvinar aliquam fringilla purus etiam velit vitae. Quisque sed sed a elementum nulla amet, elit at bibendum. Vel gravida lobortis sed elit libero fusce pulvinar. Neque in nulla volutpat tempor enim in sagittis quis et. </div>
            </div>  <!-- class="slide-two__text -->
        </div> <!-- slide-two_item -->

        <div class="slide-two_item">
            <div class="slide-two__img"><img src="assets/img/owl-carousel/two-gray.jpg" alt=""></div>
            <div class="slide-two__text">
                <h2>Образ интерьера студии<br> Scott VS Jones</h2>
                <div class="dsr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus aliquam convallis tincidunt dignissim lacus quis bibendum ac. Ac ut bibendum enim sem. Ut cursus in amet lobortis in. Neque, cras lacus nec tristique risus feugiat et ut mi. Quis diam non commodo, quam nunc. Vitae pulvinar aliquam fringilla purus etiam velit vitae. Quisque sed sed a elementum nulla amet, elit at bibendum. Vel gravida lobortis sed elit libero fusce pulvinar. Neque in nulla volutpat tempor enim in sagittis quis et. </div>
            </div>  <!-- class="slide-two__text -->
        </div> <!-- slide-two_item -->

        <div class="slide-two_item">
            <div class="slide-two__img"><img src="assets/img/owl-carousel/lounge-2.jpg" alt=""></div>
            <div class="slide-two__text">
                <h2>Образ интерьера студии<br> Scott VS Jones</h2>
                <div class="dsr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus aliquam convallis tincidunt dignissim lacus quis bibendum ac. Ac ut bibendum enim sem. Ut cursus in amet lobortis in. Neque, cras lacus nec tristique risus feugiat et ut mi. Quis diam non commodo, quam nunc. Vitae pulvinar aliquam fringilla purus etiam velit vitae. Quisque sed sed a elementum nulla amet, elit at bibendum. Vel gravida lobortis sed elit libero fusce pulvinar. Neque in nulla volutpat tempor enim in sagittis quis et. </div>
            </div>  <!-- class="slide-two__text -->
        </div> <!-- slide-two_item -->
    </div> <!-- ="slide-two -->

   <span class=" iconify next" data-inline="false" data-icon="dashicons:arrow-right-alt2" style="color: #e33c3c; font-size: 50px;"></span>
</div>
<div class="mailing">
    <img src="assets/img/chair.png" alt="" class="chair__img_1">
    <div class="mailing__block">
        <h2>Подпишитесь на нашу рассылку</h2>
        <p class="mailing__title">Начните получать полезные статьи, акции  и новости уже сейчас</p>
        <form action="#">
            <input  class="email" placeholder="Ваш e-mail" name="email">
            <input class="btn" type="submit" value="Отправить">
            <p class="politic"><input type="checkbox"> Нажимая на кнопку вы даёте согласие на обработку персональных данных<br>
                и соглашаетесь с политикой конфиденциальности</p>
        </form>
    </div>
    <img src="assets/img/chair-2.png" alt="" class="chair__img_2">
</div>

</div> <!--  class="cont -->
</section>