@import "vars";
@import "mixins";

body {
    font-size: 8px;

 
    @media (min-width: 1666px){
        font-size: 5px;
    }
    @media (min-width: 2066px){
        font-size: 4px;;
    }
    @media (min-width: 2166px){
        font-size: 3.7px;
    }
}


@import "vendor/owl.carousel";
@import "vendor/owl.theme.green";
@import "blocks/section_1_style";
@import "blocks/section_2_style";
@import "blocks/section_3_style";
@import "blocks/section_4_style";
@import "blocks/menu";
@import "blocks/tabs";
@import "blocks/footer";
@import "blocks/slider";
@import "blocks/header";
@import "blocks/btn";
@import "blocks/modal";
@import "vendor/animate";

